<nb-layout>
     <nb-layout-header>
      <!-- <div id="header">
        <nb-icon icon="home" routerLink="/register"></nb-icon>
    
        <nb-icon *ngIf="!authService.token" icon="power" routerLink="/Login"></nb-icon>
        <div *ngIf="authService.token">
          <nb-icon icon="star" (click)="logout()"></nb-icon>
          <nb-icon icon="log-out" (click)="logout()"></nb-icon>
        </div>
      </div> -->
    </nb-layout-header>
    
    <nb-sidebar>
      
    <app-menu></app-menu>
       
    </nb-sidebar>
    
    <nb-layout-column>
      
      <router-outlet></router-outlet>
    </nb-layout-column>
    
    <nb-layout-footer>
    <p>&copy; Technofutur - 2021</p>
    </nb-layout-footer>
    
    </nb-layout>