<mat-card>
    <mat-card-header>
        <mat-card-title>Création compte client</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="fg" (ngSubmit)="OnSubmit()">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName ="name">
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName ="description">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Quantité de base</mat-label>
                    <input matInput formControlName ="quantity">
                </mat-form-field>
            </div>
            <div>
            
                <label>Photo</label>
                <div></div>
                <input nbInput type="file" (change)="Getfile($event)" accept="image/*" formControlName ="picture">
        
        </div>
        
            
            <button [disabled]="fg.invalid" nbButton class="button">Valider</button>
        </form>
    </mat-card-content>
</mat-card>